/Cars.Domain/bin/Debug/netcoreapp2.0/CarRepo.Domain.deps.json
/Cars.Domain/bin/Debug/netcoreapp2.0/CarRepo.Domain.dll
/Cars.Domain/bin/Debug/netcoreapp2.0/CarRepo.Domain.pdb
/Cars.Domain/bin/Debug/netcoreapp2.0/Products.Domain.deps.json
/Cars.Domain/bin/Debug/netcoreapp2.0/Products.Domain.dll
/Cars.Domain/bin/Debug/netcoreapp2.0/Products.Domain.pdb
/Cars.Domain/obj/CarRepo.Domain.csproj.nuget.cache
/Cars.Domain/obj/CarRepo.Domain.csproj.nuget.g.props
/Cars.Domain/obj/CarRepo.Domain.csproj.nuget.g.targets
/Cars.Domain/obj/Debug/netcoreapp2.0/CarRepo.Domain.AssemblyInfo.cs
/Cars.Domain/obj/Debug/netcoreapp2.0/CarRepo.Domain.AssemblyInfoInputs.cache
/Cars.Domain/obj/Debug/netcoreapp2.0/CarRepo.Domain.csproj.CoreCompileInputs.cache
/Cars.Domain/obj/Debug/netcoreapp2.0/CarRepo.Domain.csproj.FileListAbsolute.txt
/Cars.Domain/obj/Debug/netcoreapp2.0/CarRepo.Domain.csprojResolveAssemblyReference.cache
/Cars.Domain/obj/Debug/netcoreapp2.0/CarRepo.Domain.dll
/Cars.Domain/obj/Debug/netcoreapp2.0/CarRepo.Domain.pdb
/Cars.Domain/obj/Debug/netcoreapp2.0/Products.Domain.AssemblyInfo.cs
/Cars.Domain/obj/Debug/netcoreapp2.0/Products.Domain.AssemblyInfoInputs.cache
/Cars.Domain/obj/Debug/netcoreapp2.0/Products.Domain.csproj.CoreCompileInputs.cache
/Cars.Domain/obj/Debug/netcoreapp2.0/Products.Domain.csproj.FileListAbsolute.txt
/Cars.Domain/obj/Debug/netcoreapp2.0/Products.Domain.csprojResolveAssemblyReference.cache
/Cars.Domain/obj/Debug/netcoreapp2.0/Products.Domain.dll
/Cars.Domain/obj/Debug/netcoreapp2.0/Products.Domain.pdb
/Cars.Domain/obj/Products.Domain.csproj.nuget.cache
/Cars.Domain/obj/Products.Domain.csproj.nuget.g.props
/Cars.Domain/obj/Products.Domain.csproj.nuget.g.targets
/Cars.Domain/obj/project.assets.json
